{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "directory": "./"
      }
    }
  },
  "plugins": ["jest", "import", "react-hooks"],
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/indent": [1, 2],
    "func-names": 0,
    "import/named": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "prefer-destructuring": 0,
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/prop-types": 0
  }
}
